.list-overflow-container {
  max-height: 545px;
  border: 1px #DDDDDD solid;
  border-radius: 4px;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
}

.list-overflow-container ul {
  margin: 0;
}

.list-overflow-container li {
  border-radius: 0px;
  border-left: none;
  border-right: none;
}

.list-overflow-container li * {
  cursor: pointer;
}

.list-overflow-container li:first-child {
  border-top: none;
}

.list-overflow-container li:last-child {
  border-bottom: none;
}

.listImage {
  height: 100px;
  width: 100px;
  box-shadow: 0 6px 12px rgba(98, 98, 98, 0.037), 0 3px 6px rgba(85, 85, 85, 0.345);

  background-color: antiquewhite;
  float: left
}

.list-group-item {
  margin-left: 50px;
  border: 10px;
  border-color: black;
  border-radius: 10px;
  height: 120px;
  margin: 10px;
  position: relative;
  width: 320px;
  text-align: left;
}

.listBox {
position: absolute;
bottom: 10px;
margin-left: 120px;
}
